<div class="loading-shade" *ngIf="isLoading$ | async; else home_page"></div>
<ng-template #home_page>
    <div class="error" *ngIf="error$ | async as error; else page"><span>{{ error }}</span></div>
    <ng-template #page>
        <h2 class="content-title"><span>Medals per Country</span></h2>
        <app-statistics [statistics]="statistics"></app-statistics>
        <div class="chart">
            <canvas 
                baseChart 
                [data]="pieChartData" 
                [options]="pieChartOptions" 
                [type]="pieChartType" 
                [plugins]="pieChartPlugins"
            ></canvas>
        </div>
    </ng-template>
</ng-template>
